{% extends 'base1.html' %}
{% block content %}
{% load static %}
<style>
    /*body {
        background-image: url("{% static 'images/b1.webp' %}");
        background-repeat: no-repeat;
        background-size: 180vw 300vh;
    }*/


    .row {
        margin-bottom: 20px;
    }

    .footer {
        width: 100%;
        display: block;
        background-color: black;
        color: beige;


    }

    footer.container-fluid {
        display: flex;
    }

    p {
        font-size: 1rem;
    }

    ul li a {
        font-size: 0.9rem;
    }
   
   *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   }
   .container{
    width: 100%;
    min-height: 100vh;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
   }
   .content-section{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   }
   .content-section .card{
    flex: 2;
    margin: 20px 20px;
    box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.2);
   }
</style>

<div class="container">
    <form method="post" class="post-form" action="/showproductpage/{{data.id}}" enctype="multipart/form-data">
        {% csrf_token %}

        {% for d in data %}
        <div class="content-section">
            <div class="card">
                {% if d.image %}
                <img src="{{ d.image.url }}" class="img-thumbnail" alt="">
                {% else %}
                <img src="{% static 'img/person-circle.svg' %}">
                {% endif %}

                <h2 class="text-secondary">{{d.name}}</h2>

                <p>{{d.description}}</p>
                <p>Rs:{{d.price}}</p>
                <a href="{% url 'orderproduct' d.id %}" class="btn btn-success">SHOP NOW</a>
            </div>
        </div>
        {% endfor %}
</div>




<!--<div class="row">
    <div class="col-md-4 mt-5"></div>
    <div class="col-md-4 mt-5">
        <div class="card p-3">
            <form method="post" class="post-form" action="" enctype="multipart/form-data">
                {% csrf_token %}

                {% for d in data %}
                <div class="row">
                    <div class="col-md-12">
                        {% if d.image %}
                        <img src="{{ d.image.url }}" class="img-thumbnail" alt="">
                        {% else %}
                        <img src="{% static 'img/person-circle.svg' %}">
                        {% endif %}

                        <h1 class="text-secondary">{{d.name}}</h1>

                        <h3>{{d.description}}</h3>
                        <h3>Rs:{{d.price}}</h3>
                        <a href="" class="btn btn-success">SHOP NOW</a>
                    </div>
                </div>
                {% endfor %}
        </div>
    </div>

</div><br>-->
<footer class="footer">

    <div class="row col-12 container-fluid">
        <div class="col-4 container-fluid">
            <h6 text-fluid>ALTOS Technologies</h6><br>
            <p class="text-fluid">1st floor-Thapasya Building Kakkanad,Cochin.
                Phone:919633539879
                Email:Info@Altostechnologies.in</p>
        </div>
        <div class="col-4 container-fluid">
            <h6 text-fluid>Quick links</h6><br>
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="">Gallery</a></li>

            </ul>
        </div>
        <div class="col-4 container-fluid">
            <h6 text-fluid>Quick links</h6><br>
            <ul>
                <li><a href="">Mens</a></li>
                <li><a href="">Womens</a></li>
                <li><a href="">accessories</a></li>

            </ul>
        </div>
    </div>


</footer>

{% endblock %}